/* Fonts */
@font-face {
    font-family: Recoleta;
    src: url("../fonts/recoleta/Recoleta-RegularDEMO.otf");
}
/* All */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-style: normal;
    scroll-behavior: smooth;
}
/* Body */
body {
    background: #f7f7f7;
    color: #FBFAF7;
}
/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}
/* html */
:root {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    --color-green: #163A24;
}
/* Row */
.row {
    display: flex;
    flex-flow: row wrap;
}
/* Heading */
h1, 
h2, 
h3, 
h4 {
    font-family: Recoleta;
    font-weight: 600;
    color: #163A24;
}
/* Paragraph */
p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #163A24;
}
/* Link */
a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
}
/* Btn */
.btn {
    background: #198C36;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    transition: all .3s ease;
    color: #FBFAF7;
}
.btn:hover,
.btn:focus {
    background-color: #15762e;
}
.btn a {
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
}
/* Text align */
.text-center {
    text-align: center;
}
/* margin-bottom */
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}