/* Fonts */
@font-face {
    font-family: Recoleta;
    src: url("../fonts/recoleta/Recoleta-RegularDEMO.otf");
}
/* All */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-style: normal;
    scroll-behavior: smooth;
}
/* Body */
body {
    background-color: #fff;
}
/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}
/* html */
:root {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}
/* Row */
.row {
    display: flex;
    flex-flow: row wrap;
}
/* Heading */
h1, 
h2, 
h3, 
h4 {
    font-family: Recoleta;
    font-weight: 600;
}
/* Link */
a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
}
/* Btn */
.btn {
    background: #198C36;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    transition: all .3s ease;
    color: #FBFAF7;
}
.btn:hover,
.btn:focus {
    background-color: #15762e;
}
.btn a {
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
}
.btn img {
    width: 43px;
}
/* Section */
section {
    margin-top: 190px;
}
/* Section title */
.section-title span {
    font-weight: 500;
    font-size: 1.75rem;
    color: #F78CB6;
    margin-bottom: 6px;
}
.section-title h2 {
    font-weight: 700;
    font-size: 3.25rem;
    color: #56597A;
    margin-bottom: 58px;
}
/* Text align */
.text-center {
    text-align: center;
}