@charset "UTF-8";
/* Nav */
#nav {
    background: var(--color-green);
}
#nav .navbar,
#nav .navbar-link {
    height: 98px;
    justify-content: space-between;
    align-items: center;
}
    /* Logo */
    .navbar .navbar-logo img {
        width: 153px;
        height: 58px;
    }
    .navbar .navbar-link a:not(.navbar-link a:last-child) {
        color: #FBFAF7;
        margin-right: 24px;
        transition: all .3s ease;
        border-bottom: 2px solid transparent;
    }
    .navbar .navbar-link a:not(.navbar-link a:last-child):hover,
    .navbar .navbar-link a:not(.navbar-link a:last-child):focus {
        border-bottom: 2px solid #FBC8B8;
    }

/* Header */
#header {
    background: var(--color-green);
}
    /* Header content */
    #header .header-content {
        align-items: center;
        justify-content: space-between;
    }
        /* Header description */
        .header-content .header-des {
            width: 492px;
        }
            .header-des h1 {
                width: 391px;
                font-weight: 600;
                font-size: 3rem;
                line-height: 4.06rem;
                color: #FBFAF7;
            }
            .header-des p {
                width: 475px;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.68rem;
                color: #FBFAF7;
            }
        /* Header images */
        .header-content .header-img img{
            width: 650px;
        }

/* Story */
#story {
    margin: 120px 100px;
}
    .story-content .story-item {
        justify-content: space-between;
        align-items: center;
    }
        /* Story item */
        .story-item .story-img img {
            width: 492px;
        }
        .story-item .story-des {
            width: 394px;
        }
            .story-item .story-des h2 {
                font-weight: 600;
                font-size: 3rem;
                line-height: 3.375rem;
                margin-bottom: 27px;
            }
    .story-content .partner h3 {
        margin-top: 115px;
        margin-bottom: 66px;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.375rem;
        text-align: center;
    }
        .story-content .partner .partner-content{
            justify-content: space-around;
            align-items: center;
        }
            .story-content .partner .partner-content img {
                width: 110px;
            }

/* Contumer */ 
#costumer {
    background-color: var(--color-green);
    padding: 66px 0 120px;
}
    #costumer h2 {
        color: #FBFAF7;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 73px;
    }
    /* Costumer content */
    #costumer .costumer-content {
        justify-content: space-around;
        align-items: center;
    }
        /* Costumer item */
        .costumer-content .costumer-item {
            text-align: center;
        }
            .costumer-content .costumer-item p {
                font-weight: 400;
                font-size: 1.125rem;
                color: #FBFAF7;
            }
            .costumer-content .costumer-item img {
                margin-bottom: 28px;
            }

/* Emplaye */
#employe {
    background: #F2EFE6;
    padding: 120px 0;
    text-align: center;
}
    #employe h2 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.375rem;
        margin-bottom: 27px;
    }
    #employe img {
        width: 100%;
    }
/* Consider */
#consider h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.375rem;
    text-align: center;
    margin-bottom: 26px;
}
#consider span {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875;
    text-align: center;
    margin-bottom: 18px;
    color: var(--color-green);
    display: block;
}
#consider .consider-content {
    justify-content: space-between;
    align-items: flex-start;
}
    /* Consider content */
    .consider-content .container-item {
        padding: 50px 0px 35px 40px;
        background: #FBFAF7;
        box-shadow: 5px 5px 20px #E9E4D5;
        border-radius: 15px;
        width: 30%;
        margin-bottom: 120px;
    }
        .consider-content .container-item img {
            height: 75px;
            margin-bottom: 20px;
        }
        .consider-content .container-item h3 {
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 2rem;
            margin-right: 25px;
            margin-bottom: 23px;
        }
            .consider-content .container-item ul li {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.375rem;
                color: #163A24;
                margin-bottom: 15px;
                margin-left: 23px;
            }

/* Easy */
#easy {
    background: #F2EFE6;
    padding: 114px 0 124px;
}
#easy h2 {
    font-weight: 600;
    font-size: 2.93rem;
    line-height: 3.375rem;
    text-align: center;
    margin-bottom: 26px;
}
#easy p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.68rem;
    text-align: center;
    margin-bottom: 26px;
}
    #easy .easy-content {
        justify-content: space-between;
        align-items: center;
    }
        /* Easy item */
        .easy-content .easy-item {
            width: 262px;
            text-align: center;
        }
            .easy-content .easy-item p{
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 2rem;
                margin-bottom: 13px!important;
            }
            .easy-content .easy-item span{
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 2rem;
                text-align: center;
                color: #163A24;
            }
            #easy .btn-easy {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #easy a {
                width: 244px;
                text-align: center;
            }

/* Business */
#business {
    background: var(--color-green);
}
    #business .business-content {
        justify-content: space-between;
        align-items: center;
    }
        .business-content .business-des {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            .business-content .business-des h2 {
                font-weight: 600;
                font-size: 3rem;
                line-height: 3.375rem;
                text-align: center;
                color: #FBFAF7;
                margin-bottom: 26px;
            }
            .business-content .business-des p {
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.68rem;
                text-align: center;
                color: #FBFAF7;
                margin-bottom: 18px;
            }
            .business-content .business-des a {
                background: #FAB5A0;
                color: #163A24;
            }

/* Form */
#form {
    background: #F2EFE6;
    padding: 54px 0 73px;
}
    #form .form-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 50%;
    }
        .form-content .form-des {
            width: 50%;
        }
            .form-content .form-des h3 {
                font-weight: 600;
                font-size: 3rem;
                line-height: 3.375px;
                margin-bottom: 26px;
            }
            .form-content .form-des pattern {
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.68rem;
                color: #163A24;
            }
        .form-content .form-item {
            width: 50%;
        }
            .form-content .form-item input {
                background: #FFFFFF;
                border: 1px solid #F2EFE6;
                border-radius: 255px;
                width: 100%;
                padding: 15px 20px;
                color: #163A24;

            }
            .form-content .form-item p {
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.31rem;
                color: #163A24;
                margin-top: 11px;
            }
                .form-content .form-item p span {
                    color: #198C36;
                }
            
/* Footer */
#footer .footer-content {
    padding: 41px 0 40px;
    border-bottom: 1px solid #F2EFE6;
    display: flex;
    justify-content: space-between;
}
    .footer-content img:not(.footer-social img) {
        width: 110px;
        height: 42px;
    }
    .footer-content .footer-social img {
        margin-left: 14px;
        cursor: pointer;
    }
    /* footer bottom */
    .footer-bottom {
        padding: 24px 0;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
        .footer-bottom a {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.31rem;
            color: #163A24;
        }
            .footer-bottom .footer-nav a {
                color: #198C36;
                margin-left: 14px;
            }