@charset "UTF-8";
/* Nav */
#nav {
    background: #163A24;
}
#nav .navbar,
#nav .navbar-link {
    height: 98px;
    justify-content: space-between;
    align-items: center;
}
    /* Logo */
    .navbar .navbar-logo img {
        width: 153px;
        height: 58px;
    }
    .navbar .navbar-link a:not(.navbar-link a:last-child) {
        color: #FBFAF7;
        margin-right: 24px;
        transition: all .3s ease;
        border-bottom: 2px solid transparent;
    }
    .navbar .navbar-link a:not(.navbar-link a:last-child):hover,
    .navbar .navbar-link a:not(.navbar-link a:last-child):focus {
        border-bottom: 2px solid #FBC8B8;
    }

/* Header */
#header {
    background: #163A24;
}
    /* Header content */
    #header .header-content {
        align-items: center;
        justify-content: space-between;
    }
        /* Header description */
        .header-content .header-des {
            width: 492px;
        }
            .header-des h1 {
                width: 391px;
                font-weight: 600;
                font-size: 3rem;
                line-height: 4.06rem;
                color: #FBFAF7;
            }
            .header-des p {
                width: 475px;
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.68rem;
                color: #FBFAF7;
            }
        /* Header images */
        .header-content .header-img img{
            width: 650px;
        }

/* Story */
#story {
    margin: 120px 100px;
}
    .story-content .story-item {
        justify-content: space-between;
        align-items: center;
    }
        /* Story item */
        .story-item .story-img img {
            width: 492px;
        }
        .story-item .story-des {
            width: 394px;
        }
            .story-item .story-des h2 {
                font-weight: 600;
                font-size: 3rem;
                line-height: 3.375rem;
                margin-bottom: 27px;
            }
    .story-content .partner h3 {
        margin-top: 115px;
        margin-bottom: 66px;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.375rem;
        text-align: center;
    }
        .story-content .partner .partner-content{
            justify-content: space-around;
            align-items: center;
        }
            .story-content .partner .partner-content img {
                width: 110px;
            }
